USE [master]
GO
/****** Object:  Database [PharmacyDB]    Script Date: 03.05.2026 10:58:17 ******/
CREATE DATABASE [PharmacyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PharmacyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PharmacyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PharmacyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyDB]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[DrugID] [int] NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[DeliveryID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[DeliveryDate] [datetime2](0) NOT NULL,
	[EmployeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery_Items]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_Items](
	[DeliveryItemID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryID] [int] NOT NULL,
	[DrugID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [money] NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugForms]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugForms](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[FormName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drugs](
	[DrugID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Manufacturer] [nvarchar](150) NULL,
	[FormID] [int] NOT NULL,
	[Dosage] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Items]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Items](
	[SaleItemID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[DrugID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime2](0) NOT NULL,
	[EmployeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Batches] ON 

INSERT [dbo].[Batches] ([BatchID], [DrugID], [BatchNumber], [ExpiryDate], [Quantity]) VALUES (1, 1, N'BATCH0101', CAST(N'2027-12-31' AS Date), 100)
INSERT [dbo].[Batches] ([BatchID], [DrugID], [BatchNumber], [ExpiryDate], [Quantity]) VALUES (2, 2, N'BATCH0201', CAST(N'2026-06-30' AS Date), 196)
INSERT [dbo].[Batches] ([BatchID], [DrugID], [BatchNumber], [ExpiryDate], [Quantity]) VALUES (3, 3, N'BATCH0301', CAST(N'2028-01-15' AS Date), 150)
SET IDENTITY_INSERT [dbo].[Batches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Антибиотики')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Обезболивающие')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Витамины')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Deliveries] ON 

INSERT [dbo].[Deliveries] ([DeliveryID], [SupplierID], [DeliveryDate], [EmployeeID]) VALUES (1, 1, CAST(N'2026-04-25T10:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Deliveries] ([DeliveryID], [SupplierID], [DeliveryDate], [EmployeeID]) VALUES (2, 2, CAST(N'2026-03-15T11:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[Deliveries] ([DeliveryID], [SupplierID], [DeliveryDate], [EmployeeID]) VALUES (3, 3, CAST(N'2026-04-20T15:30:00.0000000' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[Deliveries] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery_Items] ON 

INSERT [dbo].[Delivery_Items] ([DeliveryItemID], [DeliveryID], [DrugID], [Quantity], [CostPrice], [BatchNumber], [ExpiryDate]) VALUES (1, 1, 1, 50, 90.0000, N'BATCH0102', CAST(N'2028-06-01' AS Date))
INSERT [dbo].[Delivery_Items] ([DeliveryItemID], [DeliveryID], [DrugID], [Quantity], [CostPrice], [BatchNumber], [ExpiryDate]) VALUES (2, 2, 5, 40, 30.0000, N'LOP002', CAST(N'2027-06-01' AS Date))
INSERT [dbo].[Delivery_Items] ([DeliveryItemID], [DeliveryID], [DrugID], [Quantity], [CostPrice], [BatchNumber], [ExpiryDate]) VALUES (3, 2, 8, 60, 65.0000, N'CET002', CAST(N'2027-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[Delivery_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[DrugForms] ON 

INSERT [dbo].[DrugForms] ([FormID], [FormName]) VALUES (3, N'драже')
INSERT [dbo].[DrugForms] ([FormID], [FormName]) VALUES (1, N'капсулы')
INSERT [dbo].[DrugForms] ([FormID], [FormName]) VALUES (5, N'мазь')
SET IDENTITY_INSERT [dbo].[DrugForms] OFF
GO
SET IDENTITY_INSERT [dbo].[Drugs] ON 

INSERT [dbo].[Drugs] ([DrugID], [Name], [CategoryID], [Manufacturer], [FormID], [Dosage], [Unit], [Price]) VALUES (1, N'Амоксициллин', 1, N'Фармстандарт', 1, N'500 мг', N'упаковка', 120.0000)
INSERT [dbo].[Drugs] ([DrugID], [Name], [CategoryID], [Manufacturer], [FormID], [Dosage], [Unit], [Price]) VALUES (2, N'Парацетамол', 2, N'Биосинтез', 2, N'500 мг', N'упаковка', 50.0000)
INSERT [dbo].[Drugs] ([DrugID], [Name], [CategoryID], [Manufacturer], [FormID], [Dosage], [Unit], [Price]) VALUES (3, N'Аскорбиновая кислота', 3, N'Марбиофарм', 3, N'50 мг', N'упаковка', 30.0000)
SET IDENTITY_INSERT [dbo].[Drugs] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [RoleID], [Login], [PasswordHash], [IsActive]) VALUES (1, N'Иванов Иван Иванович', 1, N'admin', N'10000.0UHRuNMdbIC5pznZQW3UlTrrQKEfUp6K.xQoxWu/lcpO1VhlRWbwXdH8cVrgfhBmsr6O6I2ZyAx8=', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [RoleID], [Login], [PasswordHash], [IsActive]) VALUES (2, N'Петрова Анна Сергеевна', 2, N'pharm1', N'10000.wYxgjzP3ffJHlyYxGjUBD2yqPXuzWy3v.Br2rt38S17O0Vbh/W5xxVBobqIXfPCR5A0sP5DLwAq8=', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [RoleID], [Login], [PasswordHash], [IsActive]) VALUES (3, N'Смирнова Елена Викторовна', 2, N'pharm2', N'10000.jzD3bb7mm436i3y/kfgcKPyd3AoWGme7.fZ6zyPfqfY2ZqnRjubQFgBopADVGjECVeRkowrE8Uiw=', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Заведующий')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Фармацевт')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale_Items] ON 

INSERT [dbo].[Sale_Items] ([SaleItemID], [SaleID], [DrugID], [Quantity], [Price]) VALUES (1, 1, 2, 3, 50.0000)
INSERT [dbo].[Sale_Items] ([SaleItemID], [SaleID], [DrugID], [Quantity], [Price]) VALUES (2, 2, 4, 2, 80.0000)
INSERT [dbo].[Sale_Items] ([SaleItemID], [SaleID], [DrugID], [Quantity], [Price]) VALUES (3, 2, 8, 1, 95.0000)
SET IDENTITY_INSERT [dbo].[Sale_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [SaleDate], [EmployeeID]) VALUES (1, CAST(N'2026-05-01T14:30:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [EmployeeID]) VALUES (2, CAST(N'2026-04-10T10:15:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [EmployeeID]) VALUES (3, CAST(N'2026-04-12T14:40:00.0000000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Address]) VALUES (1, N'ООО "ФармСнаб"', N'Сидоров П.В.', N'+7-900-123-45-67', N'г. Москва, ул. Тверская, 1')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Address]) VALUES (2, N'ЗАО "Медикал-Трейд"', N'Иванова М.А.', N'+7-900-111-22-33', N'г. Москва, ул. Ленина, 15')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Address]) VALUES (3, N'ООО "Фармкомплект"', N'Петров С.К.', N'+7-900-444-55-66', N'г. Санкт-Петербург, Невский пр., 100')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
/****** Object:  Index [IX_Batches_DrugID]    Script Date: 03.05.2026 10:58:17 ******/
CREATE NONCLUSTERED INDEX [IX_Batches_DrugID] ON [dbo].[Batches]
(
	[DrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Batches_ExpiryDate]    Script Date: 03.05.2026 10:58:17 ******/
CREATE NONCLUSTERED INDEX [IX_Batches_ExpiryDate] ON [dbo].[Batches]
(
	[ExpiryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DrugForm__81B78A2F2EFE8993]    Script Date: 03.05.2026 10:58:17 ******/
ALTER TABLE [dbo].[DrugForms] ADD UNIQUE NONCLUSTERED 
(
	[FormName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5E55825B08746E12]    Script Date: 03.05.2026 10:58:17 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61604E0CB86A]    Script Date: 03.05.2026 10:58:17 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Deliveries] ADD  DEFAULT (getdate()) FOR [DeliveryDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_Drug] FOREIGN KEY([DrugID])
REFERENCES [dbo].[Drugs] ([DrugID])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_Batches_Drug]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_Employee]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_Supplier]
GO
ALTER TABLE [dbo].[Delivery_Items]  WITH CHECK ADD  CONSTRAINT [FK_DelItem_Delivery] FOREIGN KEY([DeliveryID])
REFERENCES [dbo].[Deliveries] ([DeliveryID])
GO
ALTER TABLE [dbo].[Delivery_Items] CHECK CONSTRAINT [FK_DelItem_Delivery]
GO
ALTER TABLE [dbo].[Delivery_Items]  WITH CHECK ADD  CONSTRAINT [FK_DelItem_Drug] FOREIGN KEY([DrugID])
REFERENCES [dbo].[Drugs] ([DrugID])
GO
ALTER TABLE [dbo].[Delivery_Items] CHECK CONSTRAINT [FK_DelItem_Drug]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_Drugs_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_Drugs_Category]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_Drugs_Form] FOREIGN KEY([FormID])
REFERENCES [dbo].[DrugForms] ([FormID])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_Drugs_Form]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Role]
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItem_Drug] FOREIGN KEY([DrugID])
REFERENCES [dbo].[Drugs] ([DrugID])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItem_Drug]
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItem_Sale] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItem_Sale]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Employee]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Delivery_Items]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
/****** Object:  Trigger [dbo].[trg_DeliveryItems_Insert]    Script Date: 03.05.2026 10:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================== ТРИГГЕРЫ =====================

-- Триггер 1. Пополнение партий при поступлении
CREATE TRIGGER [dbo].[trg_DeliveryItems_Insert]
ON [dbo].[Delivery_Items]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Batches (DrugID, BatchNumber, ExpiryDate, Quantity)
    SELECT DrugID, BatchNumber, ExpiryDate, Quantity
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Delivery_Items] ENABLE TRIGGER [trg_DeliveryItems_Insert]
GO
/****** Object:  Trigger [dbo].[trg_SaleItems_Insert]    Script Date: 03.05.2026 10:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Триггер 2. Списание со склада при продаже (FIFO)
CREATE TRIGGER [dbo].[trg_SaleItems_Insert]
ON [dbo].[Sale_Items]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SaleItemID INT, @DrugID INT, @QtyToDeduct INT;

    DECLARE sale_cursor CURSOR FOR
        SELECT SaleItemID, DrugID, Quantity FROM inserted;

    OPEN sale_cursor;
    FETCH NEXT FROM sale_cursor INTO @SaleItemID, @DrugID, @QtyToDeduct;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF (SELECT ISNULL(SUM(Quantity),0) FROM Batches WHERE DrugID = @DrugID) < @QtyToDeduct
        BEGIN
            RAISERROR('Недостаточно товара на складе для DrugID = %d', 16, 1, @DrugID);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        DECLARE @BatchID INT, @BatchQty INT, @Remaining INT = @QtyToDeduct;

        DECLARE batch_cursor CURSOR FOR
            SELECT BatchID, Quantity FROM Batches
            WHERE DrugID = @DrugID AND Quantity > 0
            ORDER BY ExpiryDate ASC;

        OPEN batch_cursor;
        FETCH NEXT FROM batch_cursor INTO @BatchID, @BatchQty;

        WHILE @@FETCH_STATUS = 0 AND @Remaining > 0
        BEGIN
            IF @BatchQty <= @Remaining
            BEGIN
                UPDATE Batches SET Quantity = 0 WHERE BatchID = @BatchID;
                SET @Remaining = @Remaining - @BatchQty;
            END
            ELSE
            BEGIN
                UPDATE Batches SET Quantity = Quantity - @Remaining WHERE BatchID = @BatchID;
                SET @Remaining = 0;
            END;
            FETCH NEXT FROM batch_cursor INTO @BatchID, @BatchQty;
        END;

        CLOSE batch_cursor;
        DEALLOCATE batch_cursor;

        FETCH NEXT FROM sale_cursor INTO @SaleItemID, @DrugID, @QtyToDeduct;
    END;

    CLOSE sale_cursor;
    DEALLOCATE sale_cursor;
END;
GO
ALTER TABLE [dbo].[Sale_Items] ENABLE TRIGGER [trg_SaleItems_Insert]
GO
USE [master]
GO
